<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="{(WEB_SITE)}public/css/main.css" />
		<link rel="stylesheet" type="text/css" href="{(WEB_SITE)}public/css/front_end.css"  />
		<link rel="stylesheet" type="text/css" href="{(WEB_SITE)}public/css/update.css" />
	</head>
	<body>
		<div class="top">
				<div class="top_box">
					<a>设为首页</a>
					<a>收藏本站</a>
				</div>
				<div class="top_img">
					<a><img src="" /></a>
				</div>
		</div>
		<div class="head">
			<img class="discuz fl" src="" />
						<table cellspacing="10" align="right">
				<tr>
					<td></td>
					<td></td>
					<td>
						<select>
							<option>我的</option>
						</select>
					</td>
					<td><a href="action.php?action=update">设置</a></td>
					<td><a href="">消息</a></td>
					<td>
						<select>
							<option>提醒</option>
						</select>
					</td>
					<td><a href="action.php?action=exit" >退出</a></td>
					<td rowspan="2"><img src="{(WEB_SITE)}public/upload/{$photo}" /></td>
				</tr>						
				<tr align="right">
					<td colspan="4">积分:
						<select>
							<option>0</option>
						</select>
					</td>	
					<td colspan="3">用户组：
						<select>
							<option>{$use}</option>
						</select>
					</td>	
				</tr>		
			</table>
		</div>
		<div class="nav">
			<ul class="fl">
				<li><a href="">论坛首页</a></li>
				<li><a href="">文档资料</a></li>
				<li><a href="">腾讯云主机</a></li>
				<li><a href="">YHZ</a></li>
				<li><a href="">应用中心</a></li>
				<li><a href="">微社区</a></li>
				<li><a href="">在线体验</a></li>
			</ul>
			<select class="fl nav_select">
				<option>快捷导航</option>
			</select>
		</div>
		<div class="search">
			<input class="fl search_input" type="text" placeholder="请输入" name="">
			<select class="fl search_select">
				<option>帖子</option>
			</select>
			<div class="fl">
				<img src="" />
				<b>热搜:</b>
			</div>
			<ul class="fl ">
				<li><a href="">网页游戏</a></li>
				<li><a href="">婚纱</a></li>
				<li><a href="">积分商城</a></li>
				<li><a href="">搬家</a></li>
				<li><a href="">同城交友</a></li>
			</ul>
		</div>
		<div class="path">
				<a href=""></a>
				<em>></em>
				<a href="">消息</a>
		</div>
		<div class="main">	
			<div class="plate fl">
				<ul>
					<li><h1>通知</h1></li>
					<li><a href=""></a>我的帖子</li>
					<li><a href=""></a>坛友互动</li>
					<li><a href=""></a>系统提醒</li>
				</ul>
			</div>
			<div class="content fl">
				<ul class="fl">
					<li><a href="">帖子</a></li>
					<li><a href="">点评</a></li>
					<li><a href="">活动</a></li>
					<li><a href="">悬赏</a></li>
					<li><a href="">商品</a></li>
				</ul>
			</div>
		</div>	
		 <div class="end">
			<p class="fl">Powered by <b>Yhz!1.0</b></p>
		</div> 
	</body>
</html>

